@{
    ViewData["Title"] = "Trang chủ";

    //Danh sách slides
    var ListSlides = (List<DongHo.Data.Slide>)ViewBag.ListSlides;

    //Danh sách danh mục sản phẩm
    var listCategories = (List<DongHo.Data.Category>)ViewBag.ListCategories;
    //Danh sách sản phẩm hot
    var ListProductHot = (List<DongHo.Data.Product>)ViewBag.ListProductHot;
    //Danh sách sản phẩm mới
    var ListProductNew = (List<DongHo.Data.Product>)ViewBag.ListProductNew;

    var ListProductNam = (List<DongHo.Data.Product>)ViewBag.ListProductNam;

    var ListProductNu = (List<DongHo.Data.Product>)ViewBag.ListProductNu;

    //Danh sách tin tức
    var ListNews = (List<DongHo.Data.News>)ViewBag.ListNews;
}

<main id="main" class="">
    <div id="content" role="main" class="content-area">
        <section class="section" id="section_1863340573">
            <div class="bg section-bg fill bg-fill  bg-loaded">
            </div><!-- .section-bg -->
            <div class="section-content relative">
                <div class="slider-wrapper relative" id="slider-290480040">
                    <div class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal"
                         data-flickity-options='{
            "cellAlign": "center",
            "imagesLoaded": true,
            "lazyLoad": 1,
            "freeScroll": false,
            "wrapAround": true,
            "autoPlay": 6000,
            "pauseAutoPlayOnHover" : true,
            "prevNextButtons": true,
            "contain" : true,
            "adaptiveHeight" : true,
            "dragThreshold" : 10,
            "percentPosition": true,
            "pageDots": true,
            "rightToLeft": false,
            "draggable": true,
            "selectedAttraction": 0.1,
            "parallax" : 0,
            "friction": 0.6        }'>

                        @if (ListSlides.Count() > 0)
                        {
                            foreach (var item in ListSlides)
                            {
                                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_458223505">
                                    <div class="img-inner dark">
                                        <img width="1900" height="715" src="@item.Logo" class="attachment-original size-original" alt="@item.Name" sizes="(max-width: 1900px) 100vw, 1900px" />
                                    </div>

                                    <style scope="scope">

                                        #image_458223505 {
                                            width: 100%;
                                        }
                                    </style>
                                </div>
                            }
                        }

                    </div>
                    <div class="loading-spin dark large centered"></div>
                    <style scope="scope">
                    </style>
                </div><!-- .ux-slider-wrapper -->
            </div><!-- .section-content -->

            <style scope="scope">
                #section_1863340573 {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            </style>
        </section>

        <section class="section" id="section_580708068">
            <div class="bg section-bg fill bg-fill  bg-loaded">
            </div><!-- .section-bg -->
            <div class="section-content relative">
                <div class="row" id="row-1616781261">
                    <div class="col div-no-padding small-12 large-12" data-animate="bounceIn">
                        <div class="col-inner text-center">
                            <h3 class="title-home" style="text-align: center;">SẢN PHẨM MỚI</h3>
                            <div class="row large-columns-5 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-circle slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>
                                @if (ListProductNew.Count() > 0)
                                {
                                    foreach (var item in ListProductNew)
                                    {
                                        <div class="col">
                                            <div class="col-inner">
                                                @if (item.PriceDiscount > 0 && item.Price > 0)
                                                {
                                                    <div class="badge-container absolute left top z-1">
                                                        <div class="callout badge badge-circle"><div class="badge-inner secondary on-sale"><span class="onsale">-@(Math.Floor(Convert.ToDecimal(item.Price / item.PriceDiscount - 1) * 100))%</span></div></div>
                                                    </div>
                                                }
                                                <div class="product-small box has-hover box-normal box-text-bottom">
                                                    <div class="box-image" style="width:90%;">
                                                        <div class="">
                                                            <a href="/san-pham/@item.Url/@item.Id">
                                                                <img width="300" height="300" src="@item.Logo" alt="@item.Name" sizes="(max-width: 300px) 100vw, 300px" />
                                                            </a>
                                                        </div>
                                                        <div class="image-tools top right show-on-hover">
                                                        </div>
                                                        <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                        </div>
                                                    </div><!-- box-image -->

                                                    <div class="box-text text-center">
                                                        <div class="title-wrapper"><p class="name product-title"><a href="/san-pham/@item.Url/@item.Id">@item.Name</a></p></div><div class="price-wrapper">
    @if (item.PriceDiscount > 0 && item.Price > 0)
    {
        <span class="price"><del><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></del> <ins><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.PriceDiscount).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins></span>

    }
    else if (item.Price > 0)
    {
        <span class="price">
            <ins><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins>
        </span>
    }
    else
    {
        <span class="price">
            <del>
            </del> <ins><span class="woocommerce-Price-amount amount">Liên hệ&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins>
        </span>
    }
</div>
                                                    </div><!-- box-text -->
                                                </div><!-- box -->
                                            </div><!-- .col-inner -->
                                        </div><!-- col -->
                                            }
                                }
                            </div>
                            <a href="" class="button success">
                                <span>XEM TẤT CẢ SẢN PHẨM MỚI</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div><!-- .section-content -->
            <style scope="scope">
                    #section_580708068 {
                    padding-top: 22px;
                    padding-bottom: 22px;
                }
            </style>
        </section>

        <section class="section section-title-large" id="section_1526639745">
            <div class="bg section-bg fill bg-fill  bg-loaded">
            </div><!-- .section-bg -->
            <div class="section-content relative">
                <div class="row" id="row-1579500566">
                    <div class="col div-no-padding small-12 large-12" data-animate="bounceIn">
                        <div class="col-inner text-center">
                            <div class="row" id="row-180356012">
                                <div class="col medium-4 small-12 large-4">
                                    <div class="col-inner">
                                        <div class="banner has-hover" id="banner-579515847">
                                            <div class="banner-inner fill">
                                                <div class="banner-bg fill">
                                                    <div class="bg fill bg-fill "></div>
                                                    <div class="overlay"></div>
                                                </div><!-- bg-layers -->
                                                <div class="banner-layers container">
                                                    <div class="fill banner-link"></div>
                                                    <div id="text-box-527991411" class="text-box banner-layer x15 md-x15 lg-x15 y95 md-y95 lg-y95 res-text">
                                                        <div class="text dark">
                                                            <div class="text-inner text-center">
                                                                <h3 class="uppercase">Phụ kiện</h3>
                                                                <a href="/chuyen-muc/phu-kien/6" class="button white">
                                                                    <span>XEM THÊM</span>
                                                                </a>
                                                            </div>
                                                        </div><!-- text-box-inner -->
                                                        <style scope="scope">
                                                            #text-box-527991411 {
                                                                width: 67%;
                                                            }
                                                                #text-box-527991411 .text {
                                                                    font-size: 100%;
                                                                }
                                                        </style>
                                                    </div><!-- text-box -->
                                                </div><!-- .banner-layers -->
                                            </div><!-- .banner-inner -->
                                            <style scope="scope">
                                                #banner-579515847 {
                                                    padding-top: 407px;
                                                }

                                                    #banner-579515847 .bg.bg-loaded {
                                                        background-image: url(/wp-content/uploads/2019/12/ant_index_banner_1.jpg);
                                                    }

                                                    #banner-579515847 .overlay {
                                                        background-color: rgba(0, 0, 0, 0.17);
                                                    }
                                            </style>
                                        </div><!-- .banner -->
                                    </div>
                                </div>
                                <div class="col medium-4 small-12 large-4">
                                    <div class="col-inner">

                                        <div class="banner has-hover" id="banner-1609328113">
                                            <div class="banner-inner fill">
                                                <div class="banner-bg fill">
                                                    <div class="bg fill bg-fill "></div>
                                                    <div class="overlay"></div>
                                                </div><!-- bg-layers -->
                                                <div class="banner-layers container">
                                                    <div class="fill banner-link"></div>
                                                    <div id="text-box-610208622" class="text-box banner-layer x15 md-x15 lg-x15 y95 md-y95 lg-y95 res-text">
                                                        <div class="text dark">
                                                            <div class="text-inner text-center">
                                                                <h3 class="uppercase">Mắt kính</h3>
                                                                <a href="/chuyen-muc/mat-kinh/4" class="button white">
                                                                    <span>XEM THÊM</span>
                                                                </a>
                                                            </div>
                                                        </div><!-- text-box-inner -->
                                                        <style scope="scope">
                                                            #text-box-610208622 {
                                                                width: 67%;
                                                            }

                                                                #text-box-610208622 .text {
                                                                    font-size: 100%;
                                                                }
                                                        </style>
                                                    </div><!-- text-box -->

                                                </div><!-- .banner-layers -->
                                            </div><!-- .banner-inner -->

                                            <style scope="scope">
                                                #banner-1609328113 {
                                                    padding-top: 407px;
                                                }

                                                    #banner-1609328113 .bg.bg-loaded {
                                                        background-image: url(/wp-content/uploads/2019/12/ant_index_banner_2.jpg);
                                                    }

                                                    #banner-1609328113 .overlay {
                                                        background-color: rgba(0, 0, 0, 0.17);
                                                    }
                                            </style>
                                        </div><!-- .banner -->
                                    </div>
                                </div>
                                <div class="col medium-4 small-12 large-4">
                                    <div class="col-inner">
                                        <div class="banner has-hover" id="banner-1970273858">
                                            <div class="banner-inner fill">
                                                <div class="banner-bg fill">
                                                    <div class="bg fill bg-fill "></div>
                                                    <div class="overlay"></div>
                                                </div><!-- bg-layers -->
                                                <div class="banner-layers container">
                                                    <div class="fill banner-link"></div>
                                                    <div id="text-box-1685604654" class="text-box banner-layer x15 md-x15 lg-x15 y95 md-y95 lg-y95 res-text">
                                                        <div class="text dark">
                                                            <div class="text-inner text-center">
                                                                <h3 class="uppercase">Trang sức</h3>
                                                                <a href="/chuyen-muc/trang-suc/5" class="button white">
                                                                    <span>XEM THÊM</span>
                                                                </a>
                                                            </div>
                                                        </div><!-- text-box-inner -->
                                                        <style scope="scope">
                                                            #text-box-1685604654 {
                                                                width: 67%;
                                                            }

                                                                #text-box-1685604654 .text {
                                                                    font-size: 100%;
                                                                }
                                                        </style>
                                                    </div><!-- text-box -->

                                                </div><!-- .banner-layers -->
                                            </div><!-- .banner-inner -->


                                            <style scope="scope">

                                                #banner-1970273858 {
                                                    padding-top: 407px;
                                                }

                                                    #banner-1970273858 .bg.bg-loaded {
                                                        background-image: url(/wp-content/uploads/2019/12/ant_index_banner_3.jpg);
                                                    }

                                                    #banner-1970273858 .overlay {
                                                        background-color: rgba(0, 0, 0, 0.17);
                                                    }
                                            </style>
                                        </div><!-- .banner -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .section-content -->


            <style scope="scope">

                #section_1526639745 {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            </style>
        </section>

        <section class="section" id="section_579579626">
            <div class="bg section-bg fill bg-fill  bg-loaded">
            </div><!-- .section-bg -->
            <div class="section-content relative">
                <div class="row" id="row-2043678019">
                    <div class="col div-no-padding small-12 large-12" data-animate="bounceIn">
                        <div class="col-inner text-center">
                            <h3 class="title-home" style="text-align: center;">ĐỒNG HỒ NỮ</h3>
                            <div class="row large-columns-5 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-circle slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>
                                @if (ListProductNu.Count() > 0)
                                {
                                    foreach (var item in ListProductNu)
                                    {
                                        <div class="col">
                                            <div class="col-inner">
                                                @if (item.PriceDiscount > 0 && item.Price > 0)
                                                {
                                                    <div class="badge-container absolute left top z-1">
                                                        <div class="callout badge badge-circle"><div class="badge-inner secondary on-sale"><span class="onsale">-@(Math.Floor(Convert.ToDecimal(item.Price / item.PriceDiscount - 1) * 100))%</span></div></div>
                                                    </div>
                                                }
                                                <div class="product-small box has-hover box-normal box-text-bottom">
                                                    <div class="box-image" style="width:90%;">
                                                        <div class="">
                                                            <a href="/san-pham/@item.Url/@item.Id">
                                                                <img width="300" height="300" src="@item.Logo" alt="@item.Name" sizes="(max-width: 300px) 100vw, 300px" />
                                                            </a>
                                                        </div>
                                                        <div class="image-tools top right show-on-hover">
                                                        </div>
                                                        <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                        </div>
                                                    </div><!-- box-image -->

                                                    <div class="box-text text-center">
                                                        <div class="title-wrapper"><p class="name product-title"><a href="/san-pham/@item.Url/@item.Id">@item.Name</a></p></div><div class="price-wrapper">
                                                            @if (item.PriceDiscount > 0 && item.Price > 0)
                                                            {
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></del> <ins><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.PriceDiscount).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins></span>

                                                            }
                                                            else if (item.Price > 0)
                                                            {
                                                                <span class="price">
                                                                    <ins><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins>
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="price">
                                                                    <del>
                                                                    </del> <ins><span class="woocommerce-Price-amount amount">Liên hệ&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins>
                                                                </span>
                                                            }
                                                        </div>
                                                    </div><!-- box-text -->
                                                </div><!-- box -->
                                            </div><!-- .col-inner -->
                                        </div><!-- col -->
                                    }
                                }
                            </div>
                            <a href="/chuyen-muc/dong-ho-nu/2" class="button success">
                                <span>XEM TẤT CẢ SẢN PHẨM</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div><!-- .section-content -->


            <style scope="scope">

                #section_579579626 {
                    padding-top: 22px;
                    padding-bottom: 22px;
                }
            </style>
        </section>

        <section class="section" id="section_311620876">
            <div class="bg section-bg fill bg-fill  ">
            </div><!-- .section-bg -->
            <div class="section-content relative">
                <div class="row" id="row-1185135037">
                    <div class="col div-no-padding small-12 large-12">
                        <div class="col-inner">
                            <h3 class="title-home" style="text-align: center;">BỘ SƯU TẬP 2019</h3>
                            <div class="row align-middle align-center" id="row-28625962">
                                <div class="col div-no-padding medium-10 small-12 large-10">
                                    <div class="col-inner">
                                        <div class="row large-columns-3 medium-columns- small-columns-2 row-small slider row-slider slider-nav-circle slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : 4000}'>
                                            @if (ListProductHot.Count() > 0)
                                            {
                                                foreach (var item in ListProductHot)
                                                {
                                                    <div class="col">
                                                        <div class="col-inner">
                                                            @if (item.PriceDiscount > 0 && item.Price > 0)
                                                            {
                                                                <div class="badge-container absolute left top z-1">
                                                                    <div class="callout badge badge-circle"><div class="badge-inner secondary on-sale"><span class="onsale">-@(Math.Floor(Convert.ToDecimal(item.Price / item.PriceDiscount - 1) * 100))%</span></div></div>
                                                                </div>
                                                            }
                                                            <div class="product-small box has-hover box-normal box-text-bottom">
                                                                <div class="box-image" style="width:90%;">
                                                                    <div class="">
                                                                        <a href="/san-pham/@item.Url/@item.Id">
                                                                            <img width="300" height="300" src="@item.Logo" alt="@item.Name" sizes="(max-width: 300px) 100vw, 300px" />
                                                                        </a>
                                                                    </div>
                                                                    <div class="image-tools top right show-on-hover">
                                                                    </div>
                                                                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                                    </div>
                                                                </div><!-- box-image -->

                                                                <div class="box-text text-center">
                                                                    <div class="title-wrapper"><p class="name product-title"><a href="/san-pham/@item.Url/@item.Id">@item.Name</a></p></div><div class="price-wrapper">
                                                                        @if (item.PriceDiscount > 0 && item.Price > 0)
                                                                        {
                                                                            <span class="price"><del><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></del> <ins><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.PriceDiscount).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins></span>

                                                                        }
                                                                        else if (item.Price > 0)
                                                                        {
                                                                            <span class="price">
                                                                                <ins><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins>
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="price">
                                                                                <del>
                                                                                </del> <ins><span class="woocommerce-Price-amount amount">Liên hệ&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins>
                                                                            </span>
                                                                        }
                                                                    </div>
                                                                </div><!-- box-text -->
                                                            </div><!-- box -->
                                                        </div><!-- .col-inner -->
                                                    </div><!-- col -->
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                                <style scope="scope">
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .section-content -->


            <style scope="scope">

                #section_311620876 {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }

                    #section_311620876 .section-bg.bg-loaded {
                        background-image: url(/wp-content/uploads/2019/12/ant_product_bg.jpg);
                    }


                @@media (min-width:550px) {

                    #section_311620876 {
                        padding-top: 30px;
                        padding-bottom: 30px;
                    }
                }
            </style>
        </section>

        <section class="section" id="section_239236887">
            <div class="bg section-bg fill bg-fill  bg-loaded">
            </div><!-- .section-bg -->
            <div class="section-content relative">
                <div class="row" id="row-617228768">
                    <div class="col div-no-padding small-12 large-12" data-animate="bounceIn">
                        <div class="col-inner text-center">
                            <h3 class="title-home" style="text-align: center;">ĐỒNG HỒ NAM</h3>
                            <div class="row large-columns-5 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-circle slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>
                                @if (ListProductNam.Count() > 0)
                                {
                                    foreach (var item in ListProductNam)
                                    {
                                        <div class="col">
                                            <div class="col-inner">
                                                @if (item.PriceDiscount > 0 && item.Price > 0)
                                                {
                                                    <div class="badge-container absolute left top z-1">
                                                        <div class="callout badge badge-circle"><div class="badge-inner secondary on-sale"><span class="onsale">-@(Math.Floor(Convert.ToDecimal(item.Price / item.PriceDiscount - 1) * 100))%</span></div></div>
                                                    </div>
                                                }
                                                <div class="product-small box has-hover box-normal box-text-bottom">
                                                    <div class="box-image" style="width:90%;">
                                                        <div class="">
                                                            <a href="/san-pham/@item.Url/@item.Id">
                                                                <img width="300" height="300" src="@item.Logo" alt="@item.Name" sizes="(max-width: 300px) 100vw, 300px" />
                                                            </a>
                                                        </div>
                                                        <div class="image-tools top right show-on-hover">
                                                        </div>
                                                        <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                        </div>
                                                    </div><!-- box-image -->

                                                    <div class="box-text text-center">
                                                        <div class="title-wrapper"><p class="name product-title"><a href="/san-pham/@item.Url/@item.Id">@item.Name</a></p></div><div class="price-wrapper">
                                                            @if (item.PriceDiscount > 0 && item.Price > 0)
                                                            {
                                                                <span class="price"><del><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></del> <ins><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.PriceDiscount).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins></span>

                                                            }
                                                            else if (item.Price > 0)
                                                            {
                                                                <span class="price">
                                                                    <ins><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins>
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="price">
                                                                    <del>
                                                                    </del> <ins><span class="woocommerce-Price-amount amount">Liên hệ&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins>
                                                                </span>
                                                            }
                                                        </div>
                                                    </div><!-- box-text -->
                                                </div><!-- box -->
                                            </div><!-- .col-inner -->
                                        </div><!-- col -->
                                    }
                                }
                            </div>
                            <a href="/chuyen-muc/dong-ho-nam/1" class="button success">
                                <span>XEM TẤT CẢ SẢN PHẨM</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div><!-- .section-content -->
            <style scope="scope">

                #section_239236887 {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }

                @@media (min-width:550px) {

                    #section_239236887 {
                        padding-top: 22px;
                        padding-bottom: 22px;
                    }
                }
            </style>
        </section>

        <section class="section" id="section_231368661">
            <div class="bg section-bg fill bg-fill  bg-loaded">
            </div><!-- .section-bg -->
            <div class="section-content relative">
                <div class="row" id="row-1426043745">
                    <div class="col div-no-padding small-12 large-12">
                        <div class="col-inner text-center">
                            <h3 class="title-home" style="text-align: center;">TIN TỨC EVO WATCH</h3>
                            <div class="row large-columns-4 medium-columns-1 small-columns-1">
                                @if (ListNews.Count() > 0)
                                {
                                    foreach (var item in ListNews)
                                    {
                                        <div class="col post-item">
                                            <div class="col-inner">
                                                <a href="/chi-tiet-tin/@item.Url/@item.Id" class="plain">
                                                    <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:56.25%;">
                                                                <img width="600" height="400" src="@item.Logo" alt="@item.Name" sizes="(max-width: 600px) 100vw, 600px" />
                                                            </div>
                                                        </div><!-- .box-image -->
                                                        <div class="box-text text-left">
                                                            <div class="box-text-inner blog-post-inner">
                                                                <h5 class="post-title is-large ">@item.Name</h5>
                                                                <div class="is-divider"></div>
                                                                @if (item.Description.Length > 120)
                                                                {
                                                                    <p class="from_the_blog_excerpt ">
                                                                        @item.Description.Substring(0, 120)...
                                                                    </p>
                                                                }
                                                                else
                                                                {
                                                                    <p class="from_the_blog_excerpt "> @item.Description</p>
                                                                }
                                                            </div><!-- .box-text-inner -->
                                                        </div><!-- .box-text -->
                                                    </div><!-- .box -->
                                                </a><!-- .link -->
                                            </div><!-- .col-inner -->
                                        </div><!-- .col -->

                                    }
                                }

                            </div>
                            <a class="button success" href="/tin-tuc">
                                <span>XEM TẤT CẢ</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div><!-- .section-content -->
            <style scope="scope">

                #section_231368661 {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            </style>
        </section>
    </div>
</main><!-- #main -->
